/*
 Notes/ ideas links. .....
  https://getbem.com/naming/
    Colors:
    #74747473
  also vars! WTF! :)
 */
:root {
    /* from https://hookagency.com/blog/website-color-schemes-2020/ */
    --IceCold: #a0d2eb;
    --Freeze-Purple: #e5eaf5;
    --MediumPurple: #d0bdf4;
    --PurplePain: #8458B3;
    --HeavyPurple: #494d5f;
    --White: #f5f5f5;

    --First-Color: #d9dad7;
    --Second-Color: #c24d2c;
    --Third-Color: #3e4a61;
    --Fourth-Color: #1a2639;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Bebas Neue", cursive; */
    font-family: "Figtree", sans-serif;
    width: 100%;
    color: var(--First-Color);
    background-image: linear-gradient(45deg, var(--Third-Color), var(--Fourth-Color));
    min-height: 100vh;
}
.main {
    display: flex;
    flex-flow: row;
    min-width: 20rem;
    max-width: 50rem;
}
a {
    color: var(--Second-Color);
}

.media-list__item {
    display: flex;
    flex-direction: row;
}

.media-list__item > .name {
    padding-right: 2em;
}

ul.music-sources {

}
ul.music-sources li {
    list-style: georgian inside url('/media/examples/rocket.svg');
}

nav {
    border-bottom: 1px solid black;
    padding: 4px;
    margin: 4px;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
}
nav ol li {
    display: inline-block;
    padding-right: 1em;
}
