html, body {
    margin: 0;
    padding: 0;
}

body {

}

main {
    padding: 2ex 3ex;
    margin: 8vh auto 1em;
    max-width: 37em;
    background: white;
    border-radius: 1em;
    position: relative;

&:before, &:after {
               display: block;
               position: absolute;
               z-index: -1;
           }
&:before {
     width: 52%;
     top: -7vh;
     left: -7%;
 }
&:after {
     width: 30%;
     top: -6vh;
     right: -4%;
 }
}

footer {
    background: #84ff5e;
    border-radius: 1em 0 0;
    bottom: 0;
    padding: 0 1em;
    position: fixed;
    right: 0;
}

h1 {
    margin: 0 0 1ex;
}
figure {
    float: right;
    margin: 0 0 1ex 1em;
}
p {
    margin: 0 0 1em;
}

.error {
body {

}
main {
    background: linear-gradient(#fff, #fff, #eee, #ccc, #888) padding-box;
    border: solid 1px rgba(white, 0.3);
    border-width: 0 2px 2px 1px;
}
}
