/* from https://palettes.shecodes.io */
.first-color {
    background: #155263;
}

.second-color {
    background: #ff6f3c;
}

.third-color {
    background: #ff9a3c;
}

.fourth-color {
    background: #ffc93c;
}

/*
.first-color {
	background: #260c1a;
}

.second-color {
	background: #f05d23;
}

.third-color {
	background: #c5d86d;
}

.fourth-color {
	background: #f7f7f2;
}
 */
