/* Large */
.zones-overview {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: #10414e 2px;
    color: #ffc93c;
}
.zone-image img {
    border: 2px solid black;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.zone {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex-direction: column;
    margin: 4px;
    padding: 4px;
    width: 20em;
    background-color: #10414e;
}
.zone-header {
    display: grid;
    background-color: #155263;
    /*grid-template-columns: 100px 300px;*/
    /* see https://css-tricks.com/preventing-a-grid-blowout/ for the elipses thingy!*/
    grid-template-columns: 108px minmax(0, 2fr);
    column-gap: 10px;
    row-gap: 0.2em;
    margin: 4px;
}
.zone-header-zone-name {
    padding: 4px;
    margin: 2px;
    grid-row: 2;
    /* why 3 !? */
    grid-column: 1 / 3;

}
.zone-header-zone-name > p {
    font-weight: 100;
    margin: 1px;
    font-variant-ligatures: normal;
    font-size: 1.5rem;
}
.zone-header a {
    color: #ff6f3c;
}

.zone-header .zone-infos {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: flex-start;*/
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}
/*body > div > div.zone-header > div.zone-infos > p.zone-name*/
.zone .zone-header > .zone-infos > p.artist_and_song {
    overflow: hidden;
    /* does not work ;) */
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    width: 100%;
    min-width: 2px;
}
/*ignored!?*/
.zone .zone-header > .zone-infos > p {
    margin: 1px;
    padding: 1px;
    border: black 2px;

}
/*.zone-header > .zone-infos > .album {*/
/*    font-variant-caps: small-caps;*/
/*    font-variant: all-small-caps;*/
/*}*/
.zone-member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin: 4px;
    font-variant-caps: all-small-caps;
    color: #ffc93c;
}

.zone-footer {
    padding: 2px;
    margin: 10px 4px 4px 4px;
    display: flex;
    justify-content: center;
    background-color: #155263;
}

.long {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    width: 100%;
    min-width: 2px;
 }

.gg-volume {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-right: 0;
    -webkit-perspective: 12px;
    perspective: 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.gg-volume::after,
.gg-volume::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-volume::before {
    left: 2px;
    transform: rotateY(-90deg);
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-left: 0;
    top: -3px
}

.gg-volume::after {
    width: 8px;
    height: 16px;
    border: 6px double;
    border-left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    right: -14px;
    top: -6px
}
