<div class="zone">
    <div class="zone-header">
        <div class="zone-image">
            <img src="{{zone.now_playing_media().image_url()}}">
        </div>
        <div class="zone-infos">
            <p class="zone-name long"><a href="zones/{{zone.id()}}">{{zone.name()}}</a></p>{% match zone.now_playing_media() %}
            {% when NowPlaying::Station with {station_name, image_url, album_id, album, artist, source_id } %}
            <p class="station-name long ">{{station_name}}</p>
            <p class="progress"> {{ zone.duration() }} </p>
            {% when NowPlaying::Song with {song, album, artist, image_url, mid, album_id, source_id } %}
            <p class="album long ">{{ album }}</p>
            <p class="artist_and_song long ">{{ artist }} - {{ song }}</p>
            <p class="progress"> {{ zone.duration() }} </p>
            {% when NowPlaying::Nothing %}
            -
            {% endmatch %}
        </div>
    </div>
    <div class="zone-members">
        {% if zone.is_group() %}
            {% for player in zone.players() %}
        <div class="zone-member">
            <div>{{player.name}}</div>
                {% match player.volume %}
                    {% when Some with (level) %}
            <div class="slidecontainer">
                <input type="range" min="0" max="100" value="{{level}}" class="slider">
            </div>
                    {% when None %}
            <div class="slidecontainer">
                ... loading volume
            </div>
                {% endmatch %}
            <div>
                <input type="checkbox" checked>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="zone-footer">
        {% match zone.volume() %}
            {% when Some with (level) %}
        <div class="slidecontainer">
            <input type="range" min="0" max="100" value="{{level}}" class="slider">
        </div>
            {% when None %}
        <div class="slidecontainer">
            ... loading volume
        </div>
        {% endmatch %}
    </div>
</div>
